@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: "Open Sans", sans-serif;
	}

	h1,
	h2,
	h3,
	.heading {
		font-family: "Lora", serif !important;
	}
	h4,
	h5,
	h6 {
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
	}

	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	h5 {
		font-size: 1rem;
	}
	h6 {
		font-size: 0.875rem;
	}

	:root {
		--text: #071117;
		--background: #e7f1f8;
		--primary: #174769;
		--secondary: #98c6e7;
		--accent: #3dabfa;
	}
	.dark {
		--text: #e8f2f8;
		--background: #071118;
		--primary: #96c6e8;
		--secondary: #184667;
		--accent: #0573c2;
	}

	.h-nav-full {
		@apply h-[calc(100vh-4rem-1.25rem)];
	}

	.min-h-nav-full {
		@apply min-h-[calc(100vh-4rem-1.25rem)];
	}
}
